
@{
    ViewBag.Title = "NoAppointment";
    Layout = "~/Views/Shared/_LayoutHospital.cshtml";
}

@section style {
    <title>No Appointment</title>
    }

<main>
    <!-- Background Image Starts -->
    <section style="background-image:url('../../Public/img/global/header.jpg')" class="p-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="contactH">Doctor Schedules</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- Bakcground Image Ends -->
    <!-- Table Starts -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 " style="margin-top:5rem;margin-bottom:5rem">
                    <h1 style="font-family:'Lato', sans-serif" class="text-center">@Hospital.Resources.Resource.NoAppointment</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Table Ends -->
</main>

