.contactH{
    color: #222222;
    font-size: 44px;
    font-family: 'Montserrat', sans-serif;
}

/* Main Starts */
.imgHolder{
    height: 400px;
}
.imgHolder img{
    width: 100%;
    height: 100%;
    border-radius: 2px;
}
.oneH{
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    color: #143757;
    font-size: 30px;
}
.oneUl{
    list-style-type: none;
}
.oneUl li {
    color: #6e868c;
}
/* Main Ends */